.nav {
    grid-area: n;
    background-color: #535c69;
    border: 2px solid #e85bf3;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 20px;
}

.item a {
    color: #ABB2BF;
    text-decoration: none;
}

.item .activeLink {
    color: #C778DD;
}