.container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.dialogsItems .dialog {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid #f1f2f2;
}

.dialogsItems .dialog a {
    color: #27aae1;
}

.dialogsItems .dialog:hover {
    border-bottom-color: #8dc63f;
}

.dialog img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.dialog a {
    text-decoration: none;
    color: #ABB2BF;
}

.messages {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.messages .message {
    background: rgba(141, 198, 63, .1);
    padding: 5px 10px;
    border-radius: 10px;
}

.messages .message:nth-child(even) {
    align-self: flex-end;
    background: rgba(39, 170, 225, .1);
    padding: 5px 10px;
    border-radius: 10px;
}

.sendForm {
    background: #f8f8f8;
    padding: 20px 0 20px 0;
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.sendForm button {
    background: #000;
    color: #fff;
    height: 46px;
}

.sendForm textarea {
    background: #fff;
    border: 1px solid #f1f2f2;
    box-shadow: none;
    /*border-radius: 4px;*/
    color: #939598;
    width: 100% !important;
    resize: none;
    height: 40px;
}